/KalmanFilters.jl/Manifest.toml
/MetropolisHastings.jl/Manifest.toml
/MultitypeBranchingProcesses.jl/Manifest.toml

**/deps/Manifest.toml

# figs
# **/**.png
# **/**.pdf
**/**.log
**/gr-temp/*
**/*traceplot*.pdf

# data
**/**.rds
# **/**.bin
# **/**.info.txt

# settings
**/**.vscode
**/**.DS_Store

# latex
**/**.aux
**/**.fdb_latexmk
**/**.fls
**/**.log
**/**.gz

