/KalmanFilters.jl/Manifest.toml
/MetropolisHastings.jl/Manifest.toml
/MultitypeBranchingProcesses.jl/Manifest.toml

**/deps/Manifest.toml

# figs
# **/**.png
# **/**.pdf
**/**.log
**/gr-temp/*
**/*traceplot*.pdf

# data
**/**.rds
# **/**.bin
# **/**.info.txt

# ignore this specific large data file as it can't be pushed to GitHub
examples/VicCOVID/data/vic_covid_kalman_param_samples.f64_array.bin

# settings
**/**.vscode
**/**.DS_Store

# latex
**/**.aux
**/**.fdb_latexmk
**/**.fls
**/**.log
**/**.gz

